.about{
    display: flex;
    border: 2px dashed goldenrod;
    border-radius: 5px;
}
.about img{
    width: 510px;
    height: 400px;
    padding: 20px;
}

@media only screen and (max-width: 576px){
    .about{
        flex-direction: column;
    }
    .about img{
        width: 460px;
    }
   
}