.imagesGallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.imagesGallery img{
    width: 250px;
    border: 1px solid black;
    gap: 10px;
}


@media only screen and (max-width: 576px){
    .imagesGallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .imagesGallery img{
        width: 300px;
    }
    
 }